@import "tailwindcss";

:root {
  --background: #000319;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-blue: #e4ecff;
  --color-light-pink: #cbacf9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000319;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-inter);
    background: var(--background);
    color: var(--foreground);
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--background);
  }

  &::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
    border: 2px solid var(--background);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}

.change-context {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  animation: cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
